<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Academy</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="css/main style.css" rel="stylesheet" type="text/css">
<script src="js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <h1>Something broken</h1>
    <h3>Go back to home</h3>
    <a href='/'> <button type="button" class="bt-r" >Home</button></a>
</body>
</html>