<form method="POST" action="">
    <div class="card">
        <div class ="d-flex justify-content-between card-header">
            <h4>Lĩnh vực</h4>
        </div>
        <div class = "card-body">
            <div class="form-group">
                <label for="txtCatName" class="font-weight-bold">Tên lĩnh vực:</label>
                <input type="text" class="form-control" id="txtCatName" name="catName" autofocus>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-danger mr-2" href="/admin/categories" role="button">
            <i class="fa fa-arrow-circle-left"></i> 
                Quay lại
            </a>
            <button class="btn btn-outline-info" type="submit">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>