{{#if authUser.IsAdmin}}
<div class="row mt-3">
<div class="col-3">
    <div class="card-header bg-info text-white">
        <h5 class="font-weight-bold">PROFILE</h5>
        <p>{{authUser.fullName}}</p>
    </div>
    <div class="card-body">
        <a href="/user/profile/viewListStudent" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách học viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/viewListTeacher" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách giảng viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/registerTeacher" role="button" class="nav-link pt-2 pb-2 text-dark">Cấp tài khoản giảng viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/viewListCategory" role="button" class="nav-link pt-2 pb-2 text-dark">Quản lí lĩnh vực</a>
    </div>
</div>
<div class="col-9 pt-4 mb-5 ml-2 row">
<div class="container pr-5">
    <div class="card">
        <div class ="d-flex justify-content-between card-header">
            <h4>Lĩnh vực</h4>
        </div>
        <form method="POST">
        <div class = "card-body">
            <div class="form-group">
                <label for="txtCatName" class="font-weight-bold">Tên lĩnh vực</label>
                <input type="text" class="form-control" id="txtCatName" name="catName" autofocus>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a class="btn btn-outline-danger mr-2" href="/user/profile/viewListCategory" role="button">
            <i class="fa fa-arrow-circle-left"></i> 
                Quay lại
            </a>
            <button class="btn btn-outline-info" type="submit">
                <i class="fa fa-check" aria-hidden="true"></i>
                Lưu
            </button>
        </div>
        </form>
    </div>
</div>
</div>
{{/if}}