<form method="POST" action="">
	<div class="container-fluid bg-img">
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4 pt-4 pb-4 mt-5 mb-5">
				<form class="form">
					<label for="username" class="mt-3 text-white">Email</label>
  					<input type="email" class="form-control" placeholder="example@domain.com" id="username" name="username">
					<button id="btcheck" type="submit" class="btn btn-info mt-2 position-absolute">Kiểm tra</button>
					</br>
					</br>

					<label for="pwd" class="mt-3 text-white">Mật khẩu</label>
  					<input type="password" class="form-control" id="pwd" name="pwd">					
					<label for="cpwd" class="mt-3 text-white">Nhập lại mật khẩu</label>
  					<input type="password" class="form-control" id="cpwd" name="cpwd">

					<label for="name" class="mt-3 text-white">Họ và tên</label>
  					<input type="text" class="form-control" id="name" name="name">

					<label for="birth" class="mt-3 text-white">Ngày sinh</label>
  					<input type="date" class="form-control" id="birth" name="birth">

					<label for="sex" class="mt-3 text-white">Giới tính</label>
  					<input class="mt-3 ml-3 text-white" type="radio" id="sex" name="sex" value="male">
					<label class="mt-3 ml-2 text-white" for="sex">Nam</label>
					<input class="mt-3 ml-3 text-white" type="radio" id="sex" name="sex" value="female">
					<label class="mt-3 ml-2 text-white" for="sex">Nữ</label>
					<input class="mt-3 ml-3 text-white" type="radio" id="sex" name="sex" value="others">
					<label class="mt-3 ml-2 text-white" for="sex">Khác</label><br>

					<label for="location" class="mt-3 text-white">Địa chỉ</label>
					<input type="text" class="form-control" id="location" name="location">

					<label for="phone" class="mt-3 text-white">Số điện thoại</label>
					<input type="text" class="form-control" id="phone" name="phone">
				</form>
				<div class="mt-4 button">
					<a class="float-left btn btn-outline-success" role="button" href="/">Hủy bỏ</a>
					<button id="btsubmit" class="float-right btn btn-primary" type="submit">Hoàn thành</button>
				</div>				
			</div>
			<div class="col-4"></div>
		</div>
	</div>
	<script>
		$("form").submit(function(event){
			event.preventDefault();
			const Username = $('#username').val();
			console.log(Username);
			if(Username.length===0)
			{
				alert('Dữ liệu không hợp lệ');
				return;
			}
			$.getJSON(`/user/is-available?user=${Username}`, function(data){
				console.log(data);
				if(data===true) {
					alert('đăng ký thành công');
					$("form").off('submit').submit();
				} else {
					alert('Email đã tồn tại');
					return ;
				}
			})

		});
	</script>
</form>