{{#section 'js'}}
	<script>
		$("form").submit(function(event){
			event.preventDefault();
			const Username = $('#username').val();
			const Pass = $('#pwd').val();
			const conPass = $('#cpwd').val();
			const Name = $('#name').val();
			const Birth = $('#birth').val();
			const Sex = $('#sex').val();
			const Address = $('#location').val();
			const Phone = $('#phone').val();
	
			if(Username.length===0 || Pass.length === 0 || conPass.length === 0 || 
			Name.length === 0 || Birth.length === 0 || Sex.length === 0 || Address.length === 0 || Phone.length === 0){
				alert('Chưa điền đầy đủ thông tin');
				return;
			}

			if (Pass.length < 3 || Pass.length > 20) {
				alert('Mật khẩu phải chứa tối thiểu 3 ký tự và tối đa 20 ký tự');
				return;
			}
			else {
				if (Pass !== conPass){
					alert('Nhập lại mật khẩu không chính xác');
					return;
				}
			}

			if (Name.length < 2 || Name.indexOf(" ") == -1) {
				alert('Họ tên không được dưới 2 ký tự và phải chứa ít nhất một khoảng trắng');
				return;
			}
			else {
				for (i = 0; i < Name.length; ++i) {
					if (Name.charCodeAt(i) >= 48 && Name.charCodeAt(i) <= 57) {
						alert('Họ tên không được chứa ký tự là số');
						return;
					}
					else if (Name.charCodeAt(i) === 32 && (Name.charCodeAt(i + 1) < 65 || Name.charCodeAt(i + 1) > 90)) {
						alert('Chữ cái đầu sau khoảng trắng của Họ tên phải được viết hoa đầy đủ');
						return;
					}
				}
			}

			if (Address.length < 5) {
				alert('Địa chỉ không được dưới 5 ký tự');
				return;
			}
			
			if (Phone.length !== 10) {
				alert('Số điện thoại nhập vào phải đủ 10 số');
				return;
			}
			else {
				for (i = 0; i < Phone.length; ++i) {
					if (Phone.charCodeAt(i) < 48 || Phone.charCodeAt(i) > 57) {
						alert('Số điện thoại chỉ được chứa ký tự là số');
						return;
					}
				}
			}


			$.getJSON(`/user/is-available?user=${Username}`, function(data){
				console.log(data);
				if(data===true) {
					alert('Đăng ký thành công');
					$("form").off('submit').submit();
				} else {
					alert('Email đã tồn tại');
					return ;
				}
			})
		});
	</script>
{{/section}}

{{#if authUser.IsAdmin}}
<div class="row mt-3">
<div class="col-3">
    <div class="card-header bg-info text-white">
        <h5 class="font-weight-bold">PROFILE</h5>
        <p>{{authUser.fullName}}</p>
    </div>
    <div class="card-body">
        <a href="/user/profile/viewListStudent" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách học viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/viewListTeacher" role="button" class="nav-link pt-2 pb-2 text-dark">Danh sách giảng viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/registerTeacher" role="button" class="nav-link pt-2 pb-2 text-dark">Cấp tài khoản giảng viên</a>
        <div class="dropdown-divider"></div>
        <a href="/user/profile/viewListCategory" role="button" class="nav-link pt-2 pb-2 text-dark">Quản lí lĩnh vực</a>
    </div>
</div>
<div class="col-9 pt-4 mb-5 ml-2 row">
	<div class="mb-5 w-75">
		<form action="" method="POST">
			<label for="username" class="mt-3">Email</label>
			<input type="email" class="form-control" placeholder="example@domain.com" id="username" name="username">
			<label for="pwd" class="mt-3">Mật khẩu</label>
			<input type="password" class="form-control" id="pwd" name="pwd">					
			<label for="cpwd" class="mt-3">Nhập lại mật khẩu</label>
			<input type="password" class="form-control" id="cpwd" name="cpwd">
			<label for="name" class="mt-3">Họ và tên</label>
			<input type="text" class="form-control" id="name" name="name">
			<label for="birth" class="mt-3">Ngày sinh</label>
			<input type="date" class="form-control" id="birth" name="birth">
			<label for="sex" class="mt-3">Giới tính</label>
			<input class="mt-3 ml-3" type="radio" id="sex" name="sex" value="male">
			<label class="mt-3 ml-2" for="sex">Nam</label>
			<input class="mt-3 ml-3" type="radio" id="sex" name="sex" value="female">
			<label class="mt-3 ml-2" for="sex">Nữ</label>
			<input class="mt-3 ml-3" type="radio" id="sex" name="sex" value="others">
			<label class="mt-3 ml-2" for="sex">Khác</label><br>
			<label for="location" class="mt-3">Địa chỉ</label>
			<input type="text" class="form-control" id="location" name="location">
			<label for="phone" class="mt-3">Số điện thoại</label>
			<input type="text" class="form-control" id="phone" name="phone">
		<div class="mt-4 button">
			<a class="float-left btn btn-outline-success" role="button" href="/">Hủy bỏ</a>
			<button id="btsubmit" class="float-right btn btn-primary" type="submit">Hoàn thành</button>
		</div>
		</form>				
	</div>
</div>
</div>
{{/if}}